{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="margin row">
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-6">
                    asdasdasd
                </div>
                <div class="col-md-3">
                    
                </div>
            </div>

        </div>
    </div>
{% endblock %}

